


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin: 0; 
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(5,7,12,0.55)), url('carousel-111.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
    
}


/*
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-image: url('logo.jpg');  Ruta de la imagen 
    background-size: 205px 60px; 
    background-repeat: no-repeat;

    animation: slideBackground 20s linear infinite alternate-reverse ; 
}
*/

form {
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    padding: 20px;
    width: 80%;
    max-width: 800px; 
    margin: auto;
    position: relative;
    z-index: 2;
    

}


button {
    background-color:#4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

button:hover {
    background-color:#333 ;
}

/*
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #524e4e6b;
}

*/

input[type="submit"] {
    
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}



input[type="submit"]:hover {
    background-color: #333;
}





input[type="file"] {
    
    padding: 2px 16x;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    
  
}
input[type="file"]::-webkit-file-upload-button {
  
  background-color: #4CAF50;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
input[type="file"]::-webkit-file-upload-button:hover{
    background-color:#333;

}


textarea {
    resize: none;
}


/* Tus otras reglas de estilo aquí */

/* Cambio de color en tiempo real para campos válidos e inválidos */
input.field-valid {
    border-color: #4CAF50;
    color: #4CAF50;
}

input.field-invalid {
    border-color: #FF0000;
    color: #FF0000;
}

textarea.field-valid {
    border-color: #4CAF50;
    color: #4CAF50;
}

textarea.field-invalid {
    border-color: #FF0000;
    color: #FF0000;
}

select.field-valid {
    border-color: #4CAF50;
    color: #4CAF50;
}

select.field-invalid {
    border-color: #FF0000;
    color: #FF0000;
}



.image-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10px;
}

.image-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}



/* Estilo básico para botones */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo para botones primarios */
.btn-primary {
    background-color:#4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.6s ease;
}
.btn-primary:hover {
 
    background-color:#333 ;
}

/* Estilo para botones secundarios */
.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
}

/* Estilo para botones de éxito */
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

/* Estilo para botones de peligro */
.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

/* Estilo para botones de enlace */
.btn-link {
    background-color: transparent;
    border-color: transparent;
    color: #007bff;
}
